* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 5px;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  padding-top: 25px;
}

.logo {
  width: 75px;
}

.header-links {
  display: flex;
  gap: 20px;
}

.header-links, .description {
  font-size: 18px;
  color: #E5E7EB;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: white;
}

.title-section {
  color: white;
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 30px 100px 50px 100px;
  gap: 40px;
}

.title {
  margin: 0;
  font-size: 48px;
  font-weight: extra-bold;
  color #F9FAF8
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 650px;
}

.sign-up-button {
  background-color: #3882f6;
  color: white;
  border: none;
  margin-top: 10px;
  padding: 10px 25px;
  align-self: flex-start;
  border-radius: 5px;
}

.solar-image {
  width: 400px;
  flex: 0 0 0;
}